node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
assets/original/adaptive-icon.png
assets/original/favicon.png
assets/original/icon.png
assets/original/splash.png
